.about {
  border-bottom: 1px solid #D2D1D2;
  padding: 35px 0 40px;
  color: #757575;

  &__title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
  font-weight: 600;
  font-size: 24px;
}

  &__answer {
    text-align: justify;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
  max-width: 600px;
  }
}
