.currentCompany {
  &__header {
    border-bottom: 1px solid #afafaf;
    padding: 40px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    font-size: 20px;
  }
  &__lastTradeTime {
    font-size: 12px;
    color: #323232;
    font-weight: lighter;
  }

  &__graph {
    width: 685px;
  }

  &__info {
    display: flex;
    align-items: flex-start;
    gap: 60px;
    color: #757575;;
  }

  &__rightBar {
      border: 1px solid #c2c2c2;
      margin-top: 34px;
      padding: 20px;
      border-radius: 7px;
      width: 300px;
  }

  &__infoRow {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #c2c2c2;
    justify-content: space-between;

    h4 {
      font-weight: bold;
    }
  }

  &__priceInfo {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px 0;

    h3 {
      font-size: 37px;
    }

    p {
      font-weight: bold;
      background-color: #8080806e;
      width: 90px;
      border-radius: 3px;
      color: white;
      line-height: 34px;
      text-align: end;
      padding-right: 7px;
    }
  }

  &__negative {
    background-color: rgba(253, 90, 90, 0.62) !important;
    color: #832424 !important;
    position: relative;
    transition: 0.3s;

    &:before {
      position: absolute;
      content: "↓";
      left: 7px;
      transition: 0.3s;
    }
  }

  &__positive {
    background-color: rgba(132, 194, 132, 0.73) !important;
    color: rgba(50, 79, 50, 0.73) !important;
    position: relative;
    transition: 0.3s;

    &:before {
      position: absolute;
      content: "↑";
      left: 7px;
      transition: 0.3s;
    }
  }

  &__neutral {
    padding: 0 !important;
    text-align: center !important;
    transition: 0.3s !important;
  }
}