.switcherWrap {
    display: flex;
    gap: 45px;
    background-color: #F8F9FA;
    padding: 50px 20px;
    transition: 0.5s;

    .isActive {
        font-weight: bold;
        background-color: #000;
        border-color: #000;
        color: white;
        transition: 0.5s;
    }
}

.currentSwitch {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    color: #656565;
    font-weight: bold;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    border: 1px solid #989898;
    border-radius: 8px;

    &__positive {
        color: rgba(87, 187, 87, 0.73);
    }

    &__negative {
        color: rgba(255, 70, 70, 0.8);
    }

    &__neutral {
        color: rgba(152, 152, 152, 0.8);
    }
}
